.btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	font-weight: 400;
	font-size: 13px;
	line-height: 1;
	text-align: center;
	vertical-align: middle;
	padding: 10px 12px;
	border: 1px solid transparent;
	border-radius: $border-radius;
	gap: 8px;
	cursor: pointer;
	user-select: none;
	transition: all 0.3s ease-in-out;

	&:disabled,
	&.disabled,
	&[aria-disabled='true'] {
		cursor: default;
	}

	svg {
		* {
			transition: all .4s;
		}
	}

	&-primary {
		background-color: var(--activestate_bg_1);
		padding: 12px 40px;
		border-radius: 41px;
		color: var(--unnamed-color-072635);
		font-weight: var(--unnamed-font-weight-bold);
	}
}

.more_horizontal {
	width: 20px;
	height: 10px;
	background-color: transparent;
	border: none;
	background-image: url('../../icons/more_horiz.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.download-icon {
	width: 20px;
	height: 20px;
	background-color: transparent;
	border: none;
	background-image: url('../../icons/download_icon.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}