@font-face {
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto Regular"), url("/src/assets/fonts/Roboto-Regular.ttf") format("woff");
}

@font-face {
  font-family: "Roboto Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto Italic"), url("/src/assets/fonts/Roboto-Italic.ttf") format("woff");
}

@font-face {
  font-family: "Roboto Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto Bold"), url("/src/assets/fonts/Roboto-Bold.woff") format("woff");
}

@font-face {
  font-family: "Roboto Black";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto Black"), url("/src/assets/fonts/Roboto-Black.woff") format("woff");
}