// font family
.font-family-primary {
  font-family: $base-font-family;
}

// Font
.font-body-xs {
  font-weight: 400;
  font-size: rem(12);
  color: var(--black);
  line-height: 1.3;
}

.font-body-normal {
  font-weight: 400;
  font-size: rem(13);
  color: var(--black);
  line-height: 1.3;
}

.font-body-small {
  font-weight: 400;
  font-size: rem(14);
  color: var(--black);
  line-height: 1.3;
}

.font-body-medium {
  font-weight: 500;
  font-size: rem(16);
  color: var(--black);
  line-height: 1.3;
}

.font-title-xs {
  font-weight: 500;
  font-size: rem(18);
  color: var(--black);
  line-height: 1.3;
}

.font-title-small {
  font-weight: 600;
  font-size: rem(26);
  color: var(--black);
  line-height: 1.3;
}

.font-title-medium {
  font-weight: 600;
  font-size: rem(35);
  color: var(--black);
  line-height: 1.3;
}



/* Character Styles */
.card-title-24pt {
  font-family: var(--unnamed-font-family-manrope);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-800);
  font-size: var(--unnamed-font-size-24);
  line-height: var(--unnamed-line-spacing-33);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-072635);
}

.inner-card-title-18pt {
  font-family: var(--unnamed-font-family-manrope);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-18);
  line-height: var(--unnamed-line-spacing-24);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-072635);
  text-transform: var(--unnamed-text-transform-titlecase);
}

.body-emphasized-14pt {
  font-family: var(--unnamed-font-family-manrope);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-14);
  line-height: var(--unnamed-line-spacing-19);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-072635);
}

.body-secondary-info-14pt {
  font-family: var(--unnamed-font-family-manrope);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-14);
  line-height: var(--unnamed-line-spacing-19);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-707070);
}

.body-regular-14 {
  font-family: var(--unnamed-font-family-manrope);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-14);
  line-height: var(--unnamed-line-spacing-19);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-072635);

}

// Font transform
.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

// Font Weights
.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

// Line Heights
.line-height-12 {
  line-height: 1.2
}

.line-height-13 {
  line-height: 1.3
}

.line-height-14 {
  line-height: 1.4
}

.line-height-15 {
  line-height: 1.5
}

// colors
.font-color-primary {
  color: var(--primary);
}

.font-color-secondary {
  color: var(--text-secondary);
}

.font-color-tertiary {
  color: var(--secondary);
}

.font-color-accent {
  color: var(--primary-dark);
}