<section class="detail-wrapper custom-scroll">
  <div class="left-section">
    <div class="card">
      <p class="card-title-24pt font-weight-600 mb-40">Diagnosis History</p>
      <div class="chart-wrapper mb-20 p-16">
        <p class="inner-card-title-18pt">Blood Pressure</p>

        <canvas id="myChart" #chart></canvas>

      </div>
      <div class="card-wrapper d-flex column-gap-20">
        <div class="card flex-fit card-bg-1">
          <div class="round-icon round-icon-lg">
            <img src="./assets/images/respiratory rate.png">
          </div>
          <p class="font-body-medium font-color-tertiary mt-16">Respiratory Rate</p>
          <div class="font-title-medium">
            {{patientData?.diagnosis_history?.length? patientData?.diagnosis_history[0].respiratory_rate.value : 0}} bpm
          </div>
          <p class="body-emphasized-14pt font-weight-300 mt-16">
            {{patientData?.diagnosis_history?.length? patientData?.diagnosis_history[0].respiratory_rate.levels : 'N/A'}}
          </p>
        </div>
        <div class="card flex-fit card-bg-2">
          <div class="round-icon round-icon-lg">
            <img src="./assets/images/temperature.png">
          </div>
          <p class="font-body-medium font-color-tertiary mt-16">Temperature</p>
          <div class="font-title-medium">
            {{patientData?.diagnosis_history?.length? patientData?.diagnosis_history[0].temperature.value: 0}}°F
          </div>
          <p class="body-emphasized-14pt font-weight-300 mt-16">
            {{patientData?.diagnosis_history?.length? patientData?.diagnosis_history[0].temperature.levels : 'N/A'}}
          </p>
        </div>
        <div class="card flex-fit card-bg-3">
          <div class="round-icon round-icon-lg">
            <img src="./assets/images/HeartBPM.png">
          </div>
          <p class="font-body-medium font-color-tertiary mt-16">Heart Rate</p>
          <div class="font-title-medium">
            {{patientData?.diagnosis_history?.length? patientData?.diagnosis_history[0].heart_rate.value : 0}} bpm
          </div>
          <p class="body-emphasized-14pt font-weight-300 mt-16">
            {{patientData?.diagnosis_history?.length? patientData?.diagnosis_history[0].heart_rate.levels : 'N/A'}}
          </p>
        </div>
      </div>
    </div>
    <div class="card mt-32">
      <p class="card-title-24pt font-weight-600 mb-40">Diagnostic List</p>
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Problem/Diagnosis</th>
              <th>Description</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            @for (item of patientData.diagnostic_list; track $index) {
            <tr>
              <td>{{item.name}}</td>
              <td>{{item.description}}</td>
              <td>{{item.status}}</td>
            </tr>
            }
          </tbody>
        </table>
      </div>

    </div>
  </div>
  <div class="right-section">
    <div class="card">
      <div class="d-flex justify-content-center mt-12">
        <div class="round-icon round-icon-xl">
          <img [src]="patientData.profile_picture">
        </div>
      </div>
      <p class="card-title-24pt font-weight-600 d-flex justify-content-center mt-24">{{patientData.name}}</p>

      <ul class="d-flex flex-column row-gap-16 mt-32">
        <li class="user-box-wraper column-gap-16">
          <div class="dp-box">
            <img class="dp-icon" src="./assets/icons/BirthIcon.png">
          </div>
          <div class="user-detail column-gap-16">
            <p class="body-emphasized-14pt font-weight-400">Date Of Birth</p>
            <p class="body-emphasized-14pt">{{patientData.date_of_birth}}</p>
          </div>
        </li>
        <li class="user-box-wraper column-gap-16">
          <div class="dp-box">
            <img class="dp-icon" src="./assets/icons/FemaleIcon.png">
          </div>
          <div class="user-detail column-gap-16">
            <p class="body-emphasized-14pt font-weight-400">Gender</p>
            <p class="body-emphasized-14pt">{{patientData.gender}}</p>
          </div>
        </li>
        <li class="user-box-wraper column-gap-16">
          <div class="dp-box">
            <img class="dp-icon" src="./assets/icons/Phone.png">
          </div>
          <div class="user-detail column-gap-16">
            <p class="body-emphasized-14pt font-weight-400">Contact Info.</p>
            <p class="body-emphasized-14pt">{{patientData.phone_number}}</p>
          </div>
        </li>
        <li class="user-box-wraper column-gap-16">
          <div class="dp-box">
            <img class="dp-icon" src="./assets/icons/Phone.png">
          </div>
          <div class="user-detail column-gap-16">
            <p class="body-emphasized-14pt font-weight-400">Emergency Contacts</p>
            <p class="body-emphasized-14pt">{{patientData.emergency_contact}}</p>
          </div>
        </li>
        <li class="user-box-wraper column-gap-16">
          <div class="dp-box">
            <img class="dp-icon" src="./assets/icons/Insurance.png">
          </div>
          <div class="user-detail column-gap-16">
            <p class="body-emphasized-14pt font-weight-400">Insurance Provider</p>
            <p class="body-emphasized-14pt">{{patientData.insurance_type}}</p>
          </div>
        </li>
      </ul>

      <div class="d-flex justify-content-center mt-40">
        <button class="btn btn-primary">Show All Information</button>
      </div>
    </div>
    <div class="card mt-32">
      <p class="card-title-24pt font-weight-600 mb-32">Lab Results</p>

      <ul class="list-group custom-scroll">
        @for (result of patientData.lab_results; track $index) {
        <li class="list-item">
          <span>{{result}}</span>
          <button class="btn btn-icon"><span class="download-icon"></span></button>
        </li>
        }
      </ul>

    </div>
  </div>
</section>
