.section-wrapper {
  min-width: 100vw;
  max-width: 100vw;
  min-height: calc(100vh - 120px);
  max-height: calc(100vh - 120px);
  overflow: auto;
}

.detail-wrapper {
  width: 100%;
  display: flex;
  padding: 0 18px 18px 32px;
  column-gap: 30px;
  max-height: calc(100vh - 146px);
  overflow: auto;

  .left-section {
    width: calc(70% - 32px);
  }

  .right-section {
    width: 30%;
  }
}

.list-group {
  max-height: 250px;
  overflow: auto;

  .list-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    &:hover {
      background: #F6F7F8;
    }
  }
}

.chart-wrapper {
  background: #F4F0FE;
  border-radius: 12px;
  height: 300px;
}